# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Jackson\Segundo semestre 2020\Programacao Orientado Objetos\JogoTabuleiro\Tabuleiro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
